.hero {
    background: url(https://placehold.co/1200x400/aaaaaa/ffffff?text=Shop+Produce);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-content button {
    padding: 1px 2px;
    background-color: gold;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 100px;
}

.hero-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    height:200px;
    margin-top:2%;
    color: black;
    width: 100%;
}
